.custom-button {
    background-color: white; 
    color: black;            
    padding: 10px 20px;
    border: 2px solid #0E7A81; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  }

 
  .custom-button:hover, 
  .custom-button:active {
    background-color: #0E7A81; 
    color: white;              
  }

  
  .button-container {
    display: flex;
    gap: 10px; 
    justify-content: center;
    margin-top: 50px;
  }


  .styled-button {
    padding: 12px 24px;
    border: 2px solid #0E7A81; /* Border visible by default */
    color: #0E7A81; /* Button text color */
    font-weight: 600;
    background-color: transparent; /* Transparent background */
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }

  /* Button hover effect */
  .styled-button:hover {
    background-color: rgba(14, 122, 129, 0.1); /* Slight transparent background on hover */
    color: #0E7A81; /* Text color remains */
  }

  /* Button focus and active state for glowing effect */
  .styled-button:focus, 
  .styled-button:active {
    outline: none; /* Remove default outline */
    border-color: #0E7A81; /* Maintain border color */
    box-shadow: 0 0 8px rgba(14, 122, 129, 0.6); /* Glowing effect */
    background-color: rgba(14, 122, 129, 0.15); /* Slightly stronger background on focus */
    color: #fff; /* Change text color to white on focus */
  }