.custom-button {
    background-color: white; 
    color: black;            
    padding: 10px 20px;
    border: 2px solid #0E7A81; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  }

 
 
  .custom-button:hover, 
  .custom-button:active {
    background-color: #0E7A81; 
    color: white;              
  }

  
  .button-container {
    display: flex;
    gap: 10px; 
    justify-content: center;
    margin-top: 50px;
  }


  .styled-button {
    padding: 12px 24px;
    border: 2px solid #0E7A81; 
    color: #0E7A81; 
    font-weight: 600;
    background-color: transparent; 
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .styled-button:hover {
    background-color: rgba(14, 122, 129, 0.1); 
    color: #0E7A81; 
  }
  
  .styled-button:focus,
  .styled-button:active {
    outline: none;
    border-color: #0E7A81;
    box-shadow: 0 0 16px rgba(14, 122, 129, 0.9); 
    color: #0E7A81; 
  }
  